* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.app {
  display: flex;
  height: 100vh;
}
.home {
  display: flex;
  width: 100%;
}
.left-side {
  background-color: #17212b;
}
.right-side {
  flex: 4;
  background-color: #0e1621;
}
.app-messages {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-color: #89939efd #9b9fa43f;
  border-bottom-width: 100px;
  transition: all 0.5;
}
.app-messages::-webkit-scrollbar {
  display: block;
}

@media all and (max-width: 500px) {
  .left-side {
    width: 100%;
  }
  .left-side {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-app {
    margin-top: 10px;
  }
  .navbar-app .search-input {
    display: none;
  }

  .app-messages .person-info {
    display: none;
  }
  .click-someone {
    font-size: 14px !important;
    position: absolute;
    top: 50%;
    left: 25% !important;
  }
}
